
<body class="corpo">
  
<div class="card">
  <div class="card-header">
    <div class="float-left">
      <div class="titulo">
        <h3> Digimons 🐱‍🐉🐱‍🐉</h3>
      </div>
    </div>
    <div class="float-right">
      <div class="botaoTodos">
        <button (click) = "obterTodosDigimons()" class="button"> Mostrar todos</button>
      
      </div>
    </div>
  </div>
</div>

<div class="procuraNiveis">

  <select id="Niveis" class = "comboBoxNivel" [(ngModel)]="selected">
    <option *ngFor="let n of niveis">{{n}}</option>
  </select>

  <div>
    <button (click) = "procurarNivel()" class="button">Mostrar todos nesse nível</button>
  </div>
  
</div>

<div class="procuraNomes">
  <input class="nome" type = "text" [(ngModel)]="nome"/>
  <div>
    <button (click) = "procuraNome()" class="button"> Procurar Digimon</button>
  </div>
</div>
</body>




